.GameBoard {
  width: 100%;
  height: 100vw;
  max-height: 712px;
  border: 5px solid pink;
  border-bottom: none;
  background: black;
  margin: 0 auto;
}

.Column {
  width: 100%;
  height: 33%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row; /* works with row or column */
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.Tile {
  width: 33%;
  height: 100%;
  border: 2px solid pink;
  background-color: #444;
}